os:
  - windows
  - linux
  - osx
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
language: node_js
node_js:
 - 12
before_script:
 - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo snap install snapcraft --classic; fi
script:
 - npm install
 - npm run release

# - npm install
# - if [ "$TRAVIS_OS_NAME" = "linux" ]; then docker run -c "npm install && npm run build-windows"; fi
# - if [ "$TRAVIS_OS_NAME" = "linux" ]; then docker run -c "npm install && npm run build-linux"; fi
# - if [ "$TRAVIS_OS_NAME" = "linux" ]; then docker run -c "npm install && npm run build-raspberrypi"; fi
# - if [ "$TRAVIS_OS_NAME" = "osx" ]; then npm run build-windows; fi
# - if [ "$TRAVIS_OS_NAME" = "osx" ]; then npm run build-linux; fi
# - if [ "$TRAVIS_OS_NAME" = "osx" ]; then npm run build-raspberrypi; fi
# - if [ "$TRAVIS_OS_NAME" = "osx" ]; then npm run build-macos; fi
#deploy:
#  provider: releases
#  api_key: "GITHUB OAUTH TOKEN"
#  file:
#    - ./dist/*.exe
#    - ./dist/*.AppImage
#    - ./dist/*.dmg
#  skip_cleanup: true
#  draft: true
