os: osx
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
language: node_js
matrix:
  include:
    - node_js: "12"
      script:
       - brew update
       - brew upgrade
       - npm install
       - npm run build-windows
       - npm run build-linux
       - npm run build-raspberrypi
       - npm run build-macos
deploy:
  provider: releases
  api_key: "GITHUB OAUTH TOKEN"
  file:
    - ./dist/*.exe
    - ./dist/*.AppImage
    - ./dist/*.dmg
  skip_cleanup: true
  draft: true
