os:
  - windows
  - linux
  - osx
addons:
  apt:
    packages:
      - xvfb
install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
language: node_js
matrix:
  include:
    - node_js: "12"
      script:
       - npm install
       - if [ "$TRAVIS_OS_NAME" = "windows" || "$TRAVIS_OS_NAME" = "linux" ]; then npm run build-windows; fi
       - npm run build-linux
       - npm run build-raspberrypi
       - if [ "$TRAVIS_OS_NAME" = "osx" ]; then npm run build-macos; fi
deploy:
  provider: releases
  api_key: "GITHUB OAUTH TOKEN"
  file:
    - ./dist/*.exe
    - ./dist/*.AppImage
    - ./dist/*.dmg
  skip_cleanup: true
  draft: true
